// Shorthand mixin for offset positioning
// @param {String} $position - Either `relative`, `absolute` or `fixed`
// @param {Length} $top [null] - Top offset
// @param {Length} $right [null] - Right offset
// @param {Length} $bottom [null] - Bottom offset
// @param {Length} $left [null] - Left offset


// Mixin
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// Exaple
.foo {
  @include position(absolute, $top: 1em, $left: 50%);
}

// Output
.foo {
  position: absolute;
  top: 1em;
  left: 50%;
}


1. Position Absolute
// Shorthand mixin for absolute positioning
// Serves as an alias for `position(absolute, ...)`
// @param {Arglist} $args - Offsets
// @require {mixin} position

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

2. Position Relative
// Shorthand mixin for relative positioning
// Serves as an alias for `position(relative, ...)`
// @param {Arglist} $args - Offsets
// @require {mixin} position

@mixin relative($args...) {
  @include position(relative, $args...);
}

3. Position Fixed
// Shorthand mixin for fixed positioning
// Serves as an alias for `position(fixed, ...)`
// @param {Arglist} $args - Offsets
// @require {mixin} position

@mixin fixed($args...) {
  @include position(fixed, $args...);
}
